USE [Trainning]
GO
/****** Object:  Table [dbo].[CommonQuestionInfo]    Script Date: 2021/11/17 上午 12:02:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonQuestionInfo](
	[CommonQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[CommonQuestionTitle] [nvarchar](50) NOT NULL,
	[CommonQuestionName] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Required] [int] NOT NULL,
	[Answer] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CommonQuestionInfo] PRIMARY KEY CLUSTERED 
(
	[CommonQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListInfo]    Script Date: 2021/11/17 上午 12:02:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListInfo](
	[ListID] [int] IDENTITY(1,1) NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[ListName] [nvarchar](50) NOT NULL,
	[ListContent] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[StartTime] [date] NOT NULL,
	[Endtime] [date] NOT NULL,
 CONSTRAINT [PK_ListInfo_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionInfo]    Script Date: 2021/11/17 上午 12:02:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionInfo](
	[QuestionListID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[QuestionName] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Required] [int] NOT NULL,
	[Answer] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuestionInfo] PRIMARY KEY CLUSTERED 
(
	[QuestionListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplyInfo]    Script Date: 2021/11/17 上午 12:02:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplyInfo](
	[ReplyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[ReplyTime] [datetime] NOT NULL,
	[ListID] [uniqueidentifier] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[ReplyAnswer] [nvarchar](50) NULL,
 CONSTRAINT [PK_ReplyInfo] PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2021/11/17 上午 12:02:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [uniqueidentifier] NOT NULL,
	[Account] [varchar](50) NOT NULL,
	[PWD] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CommonQuestionInfo] ON 

INSERT [dbo].[CommonQuestionInfo] ([CommonQuestionID], [CommonQuestionTitle], [CommonQuestionName], [Type], [Required], [Answer]) VALUES (1, N'常用問題1', N'Choose One', N'單選方塊', 0, N'1;2;3')
INSERT [dbo].[CommonQuestionInfo] ([CommonQuestionID], [CommonQuestionTitle], [CommonQuestionName], [Type], [Required], [Answer]) VALUES (2, N'常用問題2', N'Choose One(必填)', N'單選方塊', 1, N'1;2;3')
INSERT [dbo].[CommonQuestionInfo] ([CommonQuestionID], [CommonQuestionTitle], [CommonQuestionName], [Type], [Required], [Answer]) VALUES (3, N'常用問題3', N'Write(必填)', N'文字方塊', 0, N' ')
SET IDENTITY_INSERT [dbo].[CommonQuestionInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[ListInfo] ON 

INSERT [dbo].[ListInfo] ([ListID], [ID], [ListName], [ListContent], [Status], [StartTime], [Endtime]) VALUES (2, N'8b4fa82d-57f8-4220-92fd-0a91bd0ffaa5', N'XXXXX', N'111111111
111111111', N'投票中', CAST(N'2021-11-10' AS Date), CAST(N'2021-12-08' AS Date))
INSERT [dbo].[ListInfo] ([ListID], [ID], [ListName], [ListContent], [Status], [StartTime], [Endtime]) VALUES (4, N'66687f41-98e8-481e-9756-15ee5c571bb6', N'ZZZ', N'XXX', N'投票中', CAST(N'2021-10-24' AS Date), CAST(N'2021-10-30' AS Date))
INSERT [dbo].[ListInfo] ([ListID], [ID], [ListName], [ListContent], [Status], [StartTime], [Endtime]) VALUES (3, N'4b538469-1cfd-4f43-8e4c-352d20d2fd37', N'AAAA', N'BBBB', N'投票中', CAST(N'2021-10-24' AS Date), CAST(N'2021-10-29' AS Date))
SET IDENTITY_INSERT [dbo].[ListInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionInfo] ON 

INSERT [dbo].[QuestionInfo] ([QuestionListID], [QuestionID], [ID], [QuestionName], [Type], [Required], [Answer]) VALUES (1, 1, N'97e6d3d4-a844-4714-9644-3e5cb9bd0a23', N'Write', N'文字方塊', 0, N' ')
INSERT [dbo].[QuestionInfo] ([QuestionListID], [QuestionID], [ID], [QuestionName], [Type], [Required], [Answer]) VALUES (2, 2, N'97e6d3d4-a844-4714-9644-3e5cb9bd0a23', N'Choose One(必填)', N'單選方塊', 1, N'A;B;C')
INSERT [dbo].[QuestionInfo] ([QuestionListID], [QuestionID], [ID], [QuestionName], [Type], [Required], [Answer]) VALUES (3, 3, N'97e6d3d4-a844-4714-9644-3e5cb9bd0a23', N'Choose (必填)', N'複選方塊', 1, N'A;B;C;D')
SET IDENTITY_INSERT [dbo].[QuestionInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[ReplyInfo] ON 

INSERT [dbo].[ReplyInfo] ([ReplyID], [Name], [Phone], [Email], [Age], [ReplyTime], [ListID], [QuestionID], [ReplyAnswer]) VALUES (1, N'XXX', 988888888, N'XXX@XXX.com', 22, CAST(N'2021-11-05T00:00:00.000' AS DateTime), N'97e6d3d4-a844-4714-9644-3e5cb9bd0a23', 1, N'123')
INSERT [dbo].[ReplyInfo] ([ReplyID], [Name], [Phone], [Email], [Age], [ReplyTime], [ListID], [QuestionID], [ReplyAnswer]) VALUES (2, N'XXX', 988888888, N'XXX@XXX.com', 22, CAST(N'2021-11-05T00:00:00.000' AS DateTime), N'97e6d3d4-a844-4714-9644-3e5cb9bd0a23', 2, N'A')
INSERT [dbo].[ReplyInfo] ([ReplyID], [Name], [Phone], [Email], [Age], [ReplyTime], [ListID], [QuestionID], [ReplyAnswer]) VALUES (3, N'XXX', 988888888, N'XXX@XXX.com', 22, CAST(N'2021-11-05T00:00:00.000' AS DateTime), N'97e6d3d4-a844-4714-9644-3e5cb9bd0a23', 3, N'A,B')
SET IDENTITY_INSERT [dbo].[ReplyInfo] OFF
GO
INSERT [dbo].[UserInfo] ([UserID], [Account], [PWD], [Name], [Email]) VALUES (N'785f3020-a505-4770-887a-dd8643b2ea76', N'XXX', N'12345', N'XXX', N'XXX@gmail.com')
GO
ALTER TABLE [dbo].[ListInfo] ADD  CONSTRAINT [DF_ListInfo_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ReplyInfo] ADD  CONSTRAINT [DF_ReplyInfo_ReplyTime]  DEFAULT (getdate()) FOR [ReplyTime]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_ID]  DEFAULT (newid()) FOR [UserID]
GO
